[submodule "SNRHUDKit"]
	path = SNRHUDKit
	url = git://github.com/indragiek/SNRHUDKit.git
[submodule "JUInspectorView"]
	path = JUInspectorView
	url = git://github.com/JustSid/JUInspectorView.git
[submodule "ESScrollView"]
	path = ESScrollView
	url = git://github.com/incbee/ESScrollView.git
[submodule "SQUPluginSystem"]
	path = SQUPluginSystem
	url = git://github.com/tristanseifert/SQUPluginSystem.git
