[submodule "SNRHUDKit"]
	path = SNRHUDKit
	url = git://github.com/indragiek/SNRHUDKit.git
[submodule "JUInspectorView"]
	path = JUInspectorView
	url = git://github.com/JustSid/JUInspectorView.git
[submodule "TESetupAssistant"]
	path = TESetupAssistant
	url = git://github.com/taoeffect/TESetupAssistant.git
