<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaults</key>
	<array>
		<dict>
			<key>name</key>
			<string>Scale of Greys</string>
			<key>data</key>
			<data></data>
		</dict>
	</array>
</dict>
</plist>
